.fondo1 {
    background-color: rgb(10, 10, 10);
}

.fondo_liv1 {
    background-image: url(https://static.vecteezy.com/system/resources/previews/005/761/996/large_2x/dark-black-and-gold-modern-futuristic-background-free-vector.jpg);
    background-size: cover;
}

.fondo_liv2 {
    background-image: url(https://www.behrpaint.com.mx/binaries/_ht_1579718352325/content/gallery/behrpaintdotcom-mx/inspiration-images/living-room/living_room_modern_bronze.jpg);
    background-size: cover;
    border-radius: 100px;
}

.colortexto {
    color: beige;
}

.colortextoN {
    color: black;
    font-weight: bold;
}

.textopequeño {
    font-size: 15px;
}

.borde {
    background-color: rgb(49, 44, 44);
    border: solid;
    border-radius: 50px;
}

.form-floating {
    margin-bottom: 20px;
}